<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block title %}Présidentiel 2017{% endblock %}</title>
        <link rel="icon" href="{{asset('bundles/app/images/favicon.ico') }}">

        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"/>
            <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
            <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/default.css') }}"/>
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/jqvmap.css') }}"/>
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/carousel.css') }}"/>
        {% endblock %}

    </head>
    <body>
        {% block hearder %}
            {% include '::header.html.twig' %}
        {% endblock %}

        {% block body %}{% endblock %}

        {% block javascripts %}

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.0.0/Chart.min.js"></script>
            <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
            <script>
                $( "#search" ).autocomplete({
                  source: function( request, response ) {
                    $.ajax( {
                      url: "{{ path('default_search') }}",
                      method: 'POST',
                      data: {
                        search: request.term
                    },
                    success: function( data ) {
                        response( data );
                    }
                } );
                },
                minLength: 3,
                select: function( event, ui ) {
                    //console.log(ui.item)
                    window.location.href = ui.item.id
                }
            } );
            </script>
        {% endblock %}
    </body>

</html>
